.header{
    height: 100px;
    background-color: bisque;
    color: black;
    line-height: 100px;
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img{
    display: block;
    margin-left: 0cm;
    margin-right: auto;
    width: 80%;
}

iframe{
    display: block;
    margin-left: 0cm;
    margin-right: auto;
}

.common{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;

}

.color{
    line-height: 40px;
    background-color: lightgrey;
}

.footer{
    background-color: lightgrey;
    height: 25px;
    color: white;
    position: fixed;
    bottom: 0px;
    right: 5px;
    left: 5px;
    font-size: small;
    text-align: center;
}

.background{
    background-color: whitesmoke;
    border: 5px solid black;
}

nav a:hover{
    background-color: white;
}

.new{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
}

nav a{
    padding-right: 7px;
}